Repository pknu-wap/2025_1_WEB_2, pull requests merged in 2025-04, with the labels that each got.

#18 Feature/#9 편지 쓰기 페이지 구현
  client/src/App.js
  client/src/assets/FloatingButton.module.css
  client/src/assets/Header.module.css
  client/src/assets/LetterCreate/LetterCreatePage.module.css
  client/src/assets/LetterCreate/LetterInfoForm.module.css
  client/src/assets/LetterCreate/LetterInputForm.module.css
  client/src/assets/LetterCreate/PrivacySelector.module.css
  client/src/assets/LetterCreate/YMDSelector.module.css
  client/src/assets/LetterCreate/love-letter.png
  client/src/components/Header.js
  client/src/components/LetterCreate/LetterFloatingButton.js
  client/src/components/LetterCreate/LetterInfoForm.js
  client/src/components/LetterCreate/LetterInputForm.js
  client/src/components/LetterCreate/PrivacySelector.js
  client/src/components/LetterCreate/YearMonthDayPicker.js
  client/src/components/app/Router.js
  client/src/index.js
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, feature

#17 docs: improve README
  .github/docs/BE/setup.md
  README.md
Labels: docs

#24 feature : login_API
  server/.gitignore
  server/drizzle.config.ts
  server/package.json
  server/src/app.ts
  server/src/db/index.ts
  server/src/db/schema.ts
  server/src/index.ts
Labels: 성제, server, feature

#28 [Client] feature/#22 편지 발신 및 수신 시각 UNIX 타임스탬프 구현
  client/src/components/LetterCreate/YearMonthDayPicker.js
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, feature

#32 refactor: use status code in API 2
  server/src/app.ts
Labels: 동우, server, refactor

#36 Feature/#26 로그인 페이지 구현
  client/src/assets/로그인 버튼 이미지.png
  client/src/assets/비밀번호 인풋 이미지.png
  client/src/assets/이메일 인풋 이미지.png
  client/src/assets/회원가입 버튼 이미지.png
  client/src/components/Login/LoginPage.css
  client/src/components/Login/LoginPage.js
  client/src/components/app/Router.js
Labels: 서은, client, feature

#37 Feature/#29 편지 생성시 편지 정보 post api 구현
  client/.env
  client/package-lock.json
  client/package.json
  client/src/components/Header.js
  client/src/components/app/Router.js
  client/src/index.js
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, feature

#34 [client] Feature/#14 편지 보기 페이지 구현
  client/package-lock.json
  client/public/mockLetters.json
  client/src/assets/LetterView/LetterView.module.css
  client/src/components/LetterView/LetterView.js
  client/src/components/app/Router.js
Labels: 시연, client, feature

#41 [Client] feature: 회원가입 페이지 구현
  client/.env
  client/src/assets/Join/Join.module.css
  client/src/assets/nicknameIcon.png
  client/src/components/Join/InputForm.js
  client/src/components/app/Router.js
  client/src/pages/JoinPage.js
Labels: 윤희, client, feature

#43 [Client] fix: 프론트엔드 배포 에러 해결
  client/src/App.js
  client/src/components/Header.js
  client/src/components/LetterCreate/LetterFloatingButton.js
  client/src/components/LetterCreate/LetterInputForm.js
  client/src/components/LetterCreate/PrivacySelector.js
  client/src/components/LetterCreate/YearMonthDayPicker.js
  client/src/components/MyPage/MyPage.js
  client/src/components/app/Router.js
  client/src/index.js
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, fix

#45 [Client] fix: 프론트엔드 배포 에러 해결
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, fix

#54 [server] fix: add_allowlist
  server/src/app.ts
Labels: 동우, server, fix

#59 [Client] feature: 로그인 기능 구현
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/Header.js
  client/src/components/Login/LoginPage.css
  client/src/components/Login/LoginPage.js
  client/src/components/app/Router.js
  client/src/components/test.js
  client/src/context/AuthContext.js
  client/src/index.js
  client/src/pages/JoinPage.js
Labels: 윤희, client, feature

#60 [Client] fix: HTTP/HTTPS 배포 에러 해결
  client/.env
  client/public/_redirects
  client/src/components/test.js
  client/src/pages/JoinPage.js
Labels: 윤희, client, fix

#64 [Client] feature: 회원가입 입력 폼 비밀번호 보기 버튼 생성
  client/src/assets/Join/Join.module.css
  client/src/components/Header.js
  client/src/components/LetterCreate/LetterInfoForm.js
  client/src/components/Login/LoginPage.css
  client/src/components/Login/LoginPage.js
  client/src/components/app/Router.js
  client/src/pages/JoinPage.js
Labels: 윤희, client, feature

#67 [Client] feature: 사용자 정보 가져오기
  client/src/components/LetterCreate/LetterInfoForm.js
  client/src/components/test.js
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, feature
