Repository pknu-wap/2025_1_WEB_2, pull requests merged in 2025-06, with the labels that each got.

#167 [Server] modify: change email content
  server/src/api/sendemail.ts
Labels: 성제, server, modify

#182 [Client] fix: 편지 보기 페이지 버튼 수정, 오류 메시지 수정
  client/src/assets/LetterView/LetterView.module.css
  client/src/components/LetterView/LetterView.js
Labels: 시연, client, fix

#183 [Client] fix: 오류 메시지 화면에 뜨게 수정
  client/src/assets/LetterView/LetterView.module.css
  client/src/components/LetterView/LetterView.js
Labels: 시연, client, fix

#185 [Client] chore: 편지 박스 마진 수정
  client/src/assets/LetterView/LetterView.module.css
Labels: 시연, client, chore

#187 [Client] chore : 편지 줄바꿈 문제 해결
  client/src/assets/LetterView/LetterView.module.css
Labels: 시연, client, chore

#188 [Client] chore: 전체 보기 페이지 표시 방식 및 정렬 변경
  client/src/assets/PublicLetters/PublicLetters.module.css
  client/src/components/PublicLetters/PublicLetters.js
Labels: 시연, client, chore

#189 [Client] chore: 편지 보기 페이지 구분선 위아래 여백 추가
  client/src/assets/LetterView/LetterView.module.css
Labels: 시연, client, chore
