Repository pknu-wap/2025_1_WEB_2, pull requests merged in 2025-05, with the labels that each got.

#74 [Client] feature: 편지 생성 API 연동
  client/src/assets/LetterCreate/LetterCreatePage.module.css
  client/src/assets/LetterCreate/LetterInfoForm.module.css
  client/src/components/MyPage/MyPage.js
  client/src/components/app/Router.js
  client/src/components/test.js
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, feature

#76 [Client] chore: package.json 의존성 추가
  client/package.json
Labels: 윤희, client, chore

#77 [Client] chore: package.json 의존성 추가
  client/package-lock.json
  client/package.json
Labels: 윤희, client, chore

#78 [Client] fix : webpack 관련 에러 해결
  client/package-lock.json
  client/package.json
  client/src/components/MyPage/MyPage.js
  client/webpack.config.js
Labels: 윤희, client, fix

#79 [Client] fix : 사용하지 않는 변수 제거
  client/src/components/MyPage/MyPage.js
Labels: 윤희, client, fix

#80 [Client] fix : 사용하지 않는 변수 제거
  client/src/components/MyPage/MyPage.js
Labels: 윤희, client, fix

#90 [Client] fix : 배포 에러 해결
  client/src/pages/MainPage.js
Labels: 윤희, client, fix

#91 [Client] modify : 로그인 관련 수정사항
  client/src/components/Header.js
  client/src/pages/JoinPage.js
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, modify

#92 [Client] fix : 배포 에러 해결
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, fix

#94 [Client] fix : 로그인 정보 전역 관리 적용
  client/src/components/Header.js
Labels: 윤희, client, fix

#98 [Client] chore : gitignore에 .env 추가
  client/.env
Labels: 윤희, client, chore

#102 [Clien] chore : 사용하지 않는 변수 제거
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, chore

#103 [Client] modify : 마이페이지 css 수정
  client/package-lock.json
  client/src/components/MyPage/MyPage.js
Labels: 윤희, client, modify

#70 [Server] chore: apply vitest
  server/package.json
  server/pnpm-lock.yaml
Labels: 동우, 성제, server, chore

#104 [Server] chore: clean_unused_files
  package-lock.json
  package.json
  server/log.txt
  server/src/app.ts
Labels: 성제, server, chore

#110 [Server] feature: Separating Sent or Unsent Letters
  server/src/app.ts
  server/src/db/index.ts
Labels: 성제, server, feature

#112 [Server] docs: docs: Separating Sent or Unsent Letters API
  .github/API Specification.md
Labels: 성제, server, docs

#116 [Server] feature: create test file
  server/src/app.test.ts
Labels: 성제, server, feature

#118 Feature/#19 마이페이지 구현
  client/src/components/MyPage/MyPage.css
  client/src/components/MyPage/MyPage.js
Labels: 서은, client, feature

#119 Client/#108 마이페이지 구현 2
  client/src/assets/MyPage/lock.png
  client/src/components/MyPage2/MyPage2.css
  client/src/components/MyPage2/MyPage2.js
  client/src/components/MyPage2/mockLetterrlds2.json
  client/src/components/MyPage2/mockLetters2.json
  client/src/components/app/Router.js
Labels: 서은, client, feature

#122 feature : MyPage2오류 수정
  client/src/components/MyPage2/MyPage2.css
Labels: 서은, client, feature

#106 [Server] refactor: the api to individual files
  server/src/api/account.ts
  server/src/api/letter.ts
  server/src/app.ts
  server/src/db/db-controller.ts
  server/src/db/index.ts
Labels: 동우, server, refactor

#138 [Client] modify : 편지 쓰기 페이지 UX 수정
  client/src/assets/LetterCreate/LetterCreatePage.module.css
  client/src/assets/LetterCreate/LetterInputForm.module.css
  client/src/components/LetterCreate/LetterInputForm.js
  client/src/components/LetterCreate/YearMonthDayPicker.js
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, modify

#139 [Client] fix : 배포 에러 해결을 위해 사용하지 않는 변수 제거
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, fix

#142 [Server] feature: send email
  .gitignore
  server/src/api/sendemail.ts
  server/src/db/db-controller.ts
Labels: 성제, server, feature

#149 [Client] modify : 수정사항들 수정
  client/src/assets/Header.module.css
  client/src/components/Login/LoginPage.js
  client/src/pages/LetterCreatePage.js
Labels: 윤희, client, modify

#147 Feature/#107 send letter
  server/package.json
  server/pnpm-lock.yaml
  server/src/api/sendemail.ts
  server/src/app.ts
Labels: 동우, 성제, server, feature

#168 Feature/#14 편지 보기 페이지 구현
  client/src/components/LetterView/LetterView.js
Labels: 시연, client, feature
